Library/
ProjectSettings/
Assets/Textures/
Assets/Materials.meta
Assets/Materials/
Assets/Scenes/
Temp/
Assets/Plugins/
Assets/Plugins.meta
Assets/Scripts.meta
*.csproj
*.sln
*.apk
*.suo
obj/
Assets/Models/
Assets/Prefabs.meta
Assets/Prefabs/
Assets/Shaders.meta
Assets/Shaders/
Assets/Skyboxes.meta
Assets/Skyboxes/
iosBuild/
Assets/sky5X/
Assets/Movies.meta
Assets/sky5X.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/Free_SpeedTrees.meta
Assets/Free_SpeedTrees/
